<style>
    .mynavbar{
    
    display: block;
    position: relative; /* <-- Oh dear */
}
.myfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}
    </style><div class="main">
  
  <div class="main-inner">

      <div class="container">
  
        <div class="row">
        <div class="span12">          
            
            <div class="widget ">
              <!--
              <div class="widget-header">
                <i class="icon-briefcase"></i>
                <h3>Modify {{repo_name_sheet}}</h3>
            </div> <!- /widget-header -->
          
          <div class="widget-content">
            <iframe src="http://127.0.0.1:5601/app/kibana#/dashboard/AV_JLmoRWDZKgV0dZS33?_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fd%2Cmode%3Aquick%2Cto%3Anow%2Fd))" width="1000px" height="600px"></iframe>
          
          
                                        </div>
                                        </div>
                                        </div>

          
          
          
          
        </div> <!-- /row -->
  
      </div> <!-- /container -->
      
  </div> <!-- /main-inner -->
    
</div> <!-- /main -->
