{% load staticfiles %}
<link href="/media/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/media/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
				rel="stylesheet">
<link href="/media/assets/css/font-awesome.css" rel="stylesheet">
<link href="/media/assets/css/style.css" rel="stylesheet">
<meta charset="utf-8">
<style>

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
</style>


<link rel="stylesheet" href="/media/assets/css/examples.css" type="text/css"/>

<link rel="stylesheet" href="/media/assets/css/jquery-ui-1.8.16.custom.css" type="text/css"/>

<script src = "/media/assets/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src = "/media/assets/js/jquery.event.drag-2.2.js"></script>
<script src="/media/assets/js/jquery-1.7.2.min.js"></script>
	
<script src="/media/assets/js/bootstrap.js"></script>
<script src="/media/assets/js/base.js"></script>    
<div class="subnavbar mynavbar">
	<div class="subnavbar-inner">
		<div class="container">
		
			<ul class="mainnav">
				<li>
					<a href="" id="home_page">
						<i class="icon-large icon-home"></i>
						<span>Back to Home</span>
					</a>
				</li>
				<li>
					<a href="" id="repo_view" data-id = "{{repo_id}}">
						<i class="icon-briefcase"></i>
						<span>View {{repo_name_sheet}}</span>
					</a>
				</li>
				<li>
					<a href="" id="repo_execute">
						<i class="icon-large icon-external-link"></i>
						<span>Execute</span>
					</a>
				</li>
				<li>
					<a href="" id="repo_monitor_execute">
						<i class="icon-large icon-th-list"></i>
						<span>Monitor {{repo_name_sheet}}</span>
					</a>
				</li>
				<li>
					<a href="" id="repo_results">
						<i class="icon-bar-chart"></i>
						<span>Results</span>
					</a>
				</li>
				<!--<li><a href="" id="repo_reports"><i class="icon-bar-chart"></i><span>Reports</span> </a> </li>-->
			</ul>
			
		</div>
		<!-- /container --> 
	</div>
	<!-- /subnavbar-inner --> 
</div>

<div id="mainData">

		<div class="main-inner">
			<div class="container">
				<div class="widget ">
					<div class="widget-header">
						<i class="icon-briefcase"></i>
						<h3>View {{repo_name_sheet}}</h3>
					</div> <!-- /widget-header -->
					
				  <div class="widget-content" id= "svg_tag">
          <p onclick="myFunction()" id="hello"></p>
          <script>
            jQuery(function(){
               jQuery('#hello').click();
               $('#hello').hide();
            });
            </script>

          </div>
						<script src="/media/assets/js/d3.v3.min.js"></script></script>

						<script type="text/javascript">
            function myFunction(){
var margin = {top: 20, right: 120, bottom: 20, left: 120},
    width = 960 - margin.right - margin.left,
    height = 800 - margin.top - margin.bottom;

var i = 0,
    duration = 750,
    root;

var tree = d3.layout.tree()
    .size([height, width]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("#svg_tag").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


/*obj ='{"name": "DM", "id": 10, "children": [{"name": "INIT", "id": 11, "children": [{"name": "BLE", "id": 22, "children": [{"name": "BLE discover", "id": 23, "children": [{"name": "BLE get", "id": 25, "children": []}, {"name": "BLE observe", "id": 24, "children": []}, {"name": "BLE put", "id": 26, "children": []}]}]}, {"name": "Bluetooth", "id": 17, "children": [{"name": " BluetBLE ooth discover", "id": 18, "children": [{"name": "Bluetooth get", "id": 20, "children": []}, {"name": "Bluetooth observe", "id": 19, "children": []}, {"name": "Bluetooth put", "id": 21, "children": []}]}]}, {"name": "IP", "id": 12, "children": [{"name": "IP discover", "id": 13, "children": [{"name": "IP get", "id": 15, "children": []}, {"name": "IP observe", "id": 14, "children": []}, {"name": "IP put", "id": 16, "children": []}]}]}]}]}';
*/
//d3.json("flare.json", function(error, flare) {
  //if (error) throw error;



  //root = JSON.parse(obj);
  root = JSON.parse("{{nodes_data}}".replace(/&quot;/ig,'"'));
  console.log(root);
  root.x0 = height / 2;
  root.y0 = 0;

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }

  root.children.forEach(collapse);
  update(root);
//});

d3.select(self.frameElement).style("height", "800px");

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
      .on("click", click);

  nodeEnter.append("circle")
      .attr("r", 1e-6)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeEnter.append("text")
      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      .attr("dy", ".35em")
      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
      .text(function(d) { return d.name; })
      .style("fill-opacity", 1e-6);

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 4.5)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}

// Toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update(d);
    }
}

									</script>
								
				
				</div>
			 </div>			
			</div> <!-- /container -->
		</div> <!-- /main-inner -->
 <!-- /main -->
</div>
